footer ul li a {
  color: #fff;
}
footer {
  background: #232324;
  z-index: 1;
  position: relative;
  text-align: center;
}
footer a{
  align-items: center;
  justify-content: center;
}
footer li a {
  color: #313131;
  font-weight: 500;
  text-decoration: none;
}
footer ul li {
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
}

#footer{

	background: #333;
	color: #fff;
	padding: 12px;

}

.fa{

	margin: 3px;
	color: red;
}
