<mat-card style="border: 25px solid burlywood; background-color: turquoise;">
<div>
<h1 class="display-4 text-center bg-light mb-5 font-weight-bold">My Cart</h1>
<div *ngIf="productInOrders?.length > 0; else empty">
  <table class="table table-striped text-center h4">
    <thead style="border: 1px solid black;">
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let productInOrder of productInOrders">
        <th class="align-middle" scope="row">
          <a routerLink="/product/{{productInOrder.productId}}"><img height="100px" src="{{productInOrder.productIcon}}"
              alt="{{productInOrder.productName}}"></a>
        </th>
        <td class="align-middle"><a
            routerLink="/product/{{productInOrder.productId}}">{{productInOrder.productName}}</a>
        </td>
        <td class="align-middle">{{productInOrder.productPrice | currency : '&#8377;'}}</td>
        <td class="align-middle">
          <a (click)="minusOne(productInOrder)" class="btn btn-primary mr-2"><i class="fa fa-minus"></i></a>
          <input min="1" id="{{productInOrder.productId}}" [max]=productInOrder.productStock
            [(ngModel)]="productInOrder.count" (change)="onChange(productInOrder)" size="5" type="number" required
            name='count'>
          <a (click)="addOne(productInOrder)" class="btn btn-primary ml-2"> <i class="fa fa-plus"></i></a>
        </td>
        <td class="align-middle">{{productInOrder.productPrice * productInOrder.count|currency:'&#8377;'}}</td>
        <td class="align-middle">
          <a (click)="remove(productInOrder)" routerLink="/cart"
            class="btn btn-outline-danger btn-lg font-weight-bold">Remove <i class="fa fa-trash"
              aria-hidden="true"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <select [(ngModel)]="selectedCoupon" name="Coupon" style="max-width:100%;" class="form-control font-weight-bold mb-3 mt-4">
    <option class="font-weight-bold">Select Coupon</option>
    <option *ngFor="let dep of coupon" class="font-weight-bold">
      {{dep.id}}
    </option>
  </select>

  <h5 *ngIf="!selectedCoupon" class="font-weight-bold">Total: {{total | currency:'&#8377;'}} </h5>
  <h5 *ngIf="selectedCoupon" class="font-weight-bold">Total: {{total-total*0.2 | currency:'&#8377;'}}</h5>

  <button (click)="checkout()" class="btn btn-warning font-weight-bold btn-lg float-right mb-5">Checkout</button>
</div>
<ng-template #empty>
  <h2 class="text-secondary text-center font-weight-bold bg-light">Cart is empty.</h2>
</ng-template>
</div>
</mat-card>


