<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand mb-0 mt-2" [routerLink]="root">
    <mat-icon width="80px" height="100%" class="d-inline-block align-top">home</mat-icon>C2_G4_Capstone
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <mat-card style="border: 2px solid burlywood; background-color: brown;">
    <div class="navbar-nav" *ngIf="!currentUser || currentUser.role == Role.Customer">
      <a class="nav-item mr-2" routerLink="/category/0">
        <mat-icon>library_books</mat-icon>Furniture
      </a>
      <a class="nav-item mr-2" routerLink="/category/1">
        <mat-icon>kitchen</mat-icon>Kitchen
      </a>
      <a class="nav-item mr-2" routerLink="/category/2">
        <mat-icon> format_paint</mat-icon>Paintings
      </a>
      <a class="nav-item" routerLink="/category/3">
        <mat-icon> directions_walk</mat-icon> Showpieces
      </a>
    </div>
  </mat-card>

    <div class="navbar-nav ml-auto">
      <a *ngIf="!currentUser || currentUser.role == Role.Customer" class="nav-item btn"
        routerLink="/cart">
        Cart <mat-icon>add_shopping_cart</mat-icon>
      </a>
      <div class="navbar-nav" *ngIf="currentUser && currentUser.role == Role.Manager">
        <a class="nav-item btn mr-4" routerLink="/discount">Discount <i class="fa fa-percent"
            aria-hidden="true"></i></a>
        <a class="nav-item btn  mr-4" (click)=getUsers() routerLink="/admin/user">Users<mat-icon>supervised_user_circle</mat-icon> </a>
        <a class="nav-item btn mr-4" routerLink="/seller/product">Stocks <i class="fa fa-info"
            aria-hidden="true"></i></a>
      </div>
      <div class="navbar-nav" *ngIf="currentUser && currentUser.role == Role.Customer">
        <a class="nav-item btn mr-4 ml-4" routerLink="/wishlist">Wishlist <i class="far fa-heart"></i></a>
      </div>

      <ng-container *ngIf="currentUser; else noUser">
        <a class="nav-item btn mr-2" routerLink="/order">
          Orders <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </a>
        <a class="nav-item ml-4 " routerLink="/profile">
          {{name}}
        </a>
        <a class="nav-item ml-4" (click)="logout()" routerLink="/login" [queryParams]="{logout: true}">
          Logout
        </a>
      </ng-container>
      <ng-template #noUser>
        <a class="nav-item  mr-2 ml-4" routerLink="/login">
          Login<mat-icon>login</mat-icon>
        </a>
        <a class="nav-item ml-4" routerLink="/register">
          Register<mat-icon>assignment</mat-icon>
        </a>
        <a class="nav-item ml-4" routerLink="/about">
          Team<mat-icon>assignment</mat-icon>
        </a>
      </ng-template>
      
      
      
    </div>
  </div>
</nav>
