<section id="team">
  <div>
    <mat-card style="border: 45px solid burlywood; background-color: plum;">
    <h1>Our Team</h1>

    <div class="row">
      <div class="col-md-3 profile-pic text-center">
        <mat-card>
          <div class="img-box">
            <img src="assets/team_pics/rajat1.jpeg" class="img-responsive">
            <ul>
              <a href="#">
                <li><i class="fa-brands fa-facebook"></i></li>
              </a>
              <a href="#">
                <li><i class="fa fa-twitter"></i></li>
              </a>
              <a href="#">
                <li><i class="fa fa-linkedin"></i></li>
              </a>
            </ul>
          </div>
          <h2>Rajat Namdev</h2>
          <h3>Work Performed</h3>
          <p style="font-size: 15px;">I have created microservices part and performed crud operations of user and I have also create footer component and Teams component using Angular Material UI.</p>
        </mat-card>

      </div>

      <div class="col-md-3 profile-pic text-center">
      <mat-card>
        <div class="img-box">
          <img src="assets/team_pics/SANTOSH KUMAR MARPINA.jpeg" class="img-responsive">
          <ul>
            <a href="#">
              <li><i class="fa fa-facebook"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-twitter"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-linkedin"></i></li>
            </a>
          </ul>
        </div>
        <h2>SANTOSH KUMAR MARPINA</h2>
        <h3>Work Performed</h3>
        <p style="font-size: 15px;">I have worked on database schema and relationships and also contributed in frontend UI part in users component, stock page and email component.</p>
      </mat-card>

      </div>

      <div class="col-md-3 profile-pic text-center">
        <mat-card>
        <div class="img-box">
          <img src="assets/team_pics/Sristy Kedia.jpeg" class="img-responsive">
          <ul>
            <a href="#">
              <li><i class="fa fa-facebook"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-twitter"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-linkedin"></i></li>
            </a>
          </ul>
        </div>
        <h2>Sristy Kedia</h2>
        <h3>Work Performed</h3>
        <p style="font-size: 15px; color: solid black;">I have contributed in springboot part like I have created springboot services for product, cart, users and its implementation.
          I have also contributed in UI part</p>
        </mat-card>

      </div>

      <div class="col-md-3 profile-pic text-center">
        <mat-card>
        <div class="img-box">
          <img src="assets/team_pics/Aman Raj.jpeg" class="img-responsive">
          <ul>
            <a href="#">
              <li><i class="fa fa-facebook"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-twitter"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-linkedin"></i></li>
            </a>
          </ul>
        </div>
        <h2>Aman Raj</h2>
        <h3>Work Performed</h3>
        <p style="font-size: 15px;">I have contributed in front end part for Creating Cart Component, Discount Component and I have made wish list component.</p>
        </mat-card>

      </div>

      <div class="col-md-3 offset-md-3 profile-pic text-center">
        <mat-card>
        <div class="img-box">
          <img src="assets/team_pics/Rudranarayan Dhal.jpeg" class="img-responsive">
          <ul>
            <a href="#">
              <li><i class="fa fa-facebook"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-twitter"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-linkedin"></i></li>
            </a>
          </ul>
        </div>
        <h2>Rudranarayan Dhal</h2>
        <h3>Work Performed</h3>
        <p style="font-size: 15px;">I have contributed in front end part for Creating Register page and Login page and also I worked on Spring security Configuration in backend.</p>
        </mat-card>
      </div>

      <div class="col-md-3 profile-pic text-center">
        <mat-card>
        <div class="img-box">
          <img src="assets/team_pics/Chinmoy Manna.jpeg" class="img-responsive">
          <ul>
            <a href="#">
              <li><i class="fa fa-facebook"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-twitter"></i></li>
            </a>
            <a href="#">
              <li><i class="fa fa-linkedin"></i></li>
            </a>
          </ul>
        </div>
        <h2>Chinmoy Manna</h2>
        <h3>Work Performed</h3>
        <p style="font-size: 15px;">I have contributed in frontend part like I have add products and create search functionality in angular, ordered list  and also helped in backend  part.</p>
        </mat-card>
      </div>

    </div>
  </mat-card>
  </div>


</section>